  <div class="container-fluid post-form">
    <%= form_for @article , :html => {:multipart=> true} do |f| %>
      <div class="row">
        <div class="col-md-7 col-md-offset-1">
          <div class="form-group">
            <label>Photos</label>
            <div class="row photo-uploads">
              <%= f.fields_for :photos do |p| %>
                <div class="col-md-3">
                  <div class="panel panel-default text-center">
                    <div class="panel-body">
                      <%=p.label :image do %>
                        <img src="<%=image_url('add_photo_icon.png')%>" class="photo-placeholder">
                        Photo 1
                        <%=p.hidden_field :id %>
                        <%=p.file_field :image %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

            <% if @article.errors.messages[:title].present? %>
              <div class="form-group <%=flash_class(:error)%>">
              <%= @article.errors.messages[:title].join(" ") %>
            <% else %>   
              <div class="form-group">
            <% end %>
              <%= f.label :title %>
              <%= f.text_field :title , :class=>"form-control" %>
              <!--label for="post_title">Title</label>-->
              <!--<input type="text" class="form-control" id="post_title"></input>-->
              </div>

            <% if @article.errors.messages[:author].present? %>
              <div class="form-group <%=flash_class(:error) %>">
                <%= @article.errors.messages[:author].join(" ") %>
            <% else %>      
              <div class="form-group">
            <% end %>
                  <!--label for="post_title">Title</label>-->
                  <!--<input type="text" class="form-control" id="post_title"></input>-->
              </div>    

            <% if @article.errors.messages[:content].present? %>
              <div class="form-group <%=flash_class(:error) %>">
                <%= @article.errors.messages[:content].join(" ") %>
            <% else %>
              <div class="form-group">  
            <% end %>
                 <%= f.label :content, "Content:" %>
                 <%= f.text_area :content, :class=>"form-control", :rows =>10 %></br> 
            <!--<label>Content</label>-->
            <!--<textarea class="form-control" rows="10"></textarea>-->
              </div>

          <div class="form-group">
          
            <%if !@article.new_record? %>

            <div class="pull-left">
               <%= link_to "Delete", article_path(@article), :method=>:delete, data: { confirm: "Are you sure?" } %>
            </div>

            <%end%>

            <div class="pull-right">
              <div class="pull-left">
                <a href="#">Cancel</a>
              </div>
              <!--<input type="button" name="Submit" class="btn btn-primary" value="Submit">-->
              <%= f.submit "Submit", :class=>"btn btn-primary" %>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          
          <!--<label>Category</label>-->
           <%#=f.label :category %>

            <!--<label for="tech_category_tech" class="post-category">-->
            <%=f.label :category_tech, :class=>'post-category' do %>
            <%= f.radio_button :category, 'tech', :class => "form-control" , :checked => true %> 
            <!--<input type="radio" name="post_category" id="post_category_tech"/>-->
            <img src="<%=image_url('cat_tech.png')%>" class="img-responsive">
            <% end %>
          <!--</label>-->

           <!--<label for="article_category_finance" class="post-category">-->
            <%= f.label :category_finance, :class=> 'post-category' do %>
            <%= f.radio_button :category, 'finance', :class => "form-control"%>
            <!--<input type="radio" name="post_category" id="post_category_finance"/>-->
            <img src="<%=image_url('cat_finance.png')%>" class="img-responsive">
            <% end %>
          <!--</label>-->

          <!--<label for="article_category_art" class="post-category">-->
            <%= f.label :category_art, :class=> 'post-category' do %>
            <%= f.radio_button :category, 'art', :class => "form-control"%> 
            <!--<input type="radio" name="post_category" id="post_category_art"/>-->
            <img src="<%=image_url('cat_art.png')%>" class="img-responsive">
            <% end %>
          <!--</label>-->

          <!--<label for="article_category_music" class="post-category">-->
            <%= f.label :category_music, :class=> 'post-category' do %>
            <%= f.radio_button :category, 'music', :class => "form-control"  %> 
            <!--<input type="radio" name="post_category" id="post_category_music"/>-->
            <img src="<%=image_url('cat_music.png')%>" class="img-responsive">
            <% end %>
          <!--</label>-->

            <!-- <label for="article_category_food" class="post-category">-->
             <%= f.label :category_food, :class=> 'post-category' do %>
             <%= f.radio_button :category, 'food', :class => "form-control" %> 
            <!--<input type="radio" name="post_category" id="post_category_food"/>-->
             <img src="<%=image_url('cat_food.png')%>" class="img-responsive">
             <% end %>
          <!--</label>-->

          <!--<label for="article_category_culture" class="post-category">-->
            <%= f.label :category_food, :class=> 'post-category' do %>
            <%= f.radio_button :category, 'culture', :class => "form-control"  %> 
            <!--<input type="radio" name="post_category" id="post_category_culture"/>-->
            <img src="<%=image_url('cat_culture.png')%>" class="img-responsive">
            <% end %>
          <!--</label>-->


        </div>
      </div>

    <% end %>
  </div>
