   <!-- <div class="col-md-5 col-md-offset-1 col-xs-6 pull-right">
       <form class="navbar-form navbar-right profile-page-bar" role="signin">
          <button type="submit" class="btn btn-defualt my-profile">MY PROFILE</button>
                    <button type="submit" class="btn btn-default create-post">CREATE POST</button>
                    <button type="submit" class="btn btn-default sign-out">SIGN OUT</button>
        </form> -->
<div class="row account_nav">
  <% if is_signed_in? %>
       <div class="col-md-1 col-md-offset-1 top-header-profile">
          <img src="<%= image_url 'profile_tag.png' %>" class="profile-backing"/>
          <!--img src="<%= image_url 'http://placehold.it/42x42'%>" class="profile-avatar"/-->
          <%= image_tag current_user.avatar.url(:thumb),:class => 'img-responsive  profile-avatar' %>
      </div>
      <div class="col-md-3 col-xs-6">
        <p class="welcome-profile-page">WELCOME, <%= current_user.first_name %>!</p>
      </div>
  <% else %>
      <div class="col-md-4">
          <p>
            Welcome, new to Daft?
            <a><%= link_to "Subscribe Now", new_user_path %></a>
          </p>
      </div>
  <% end %>



  
    <!--<form class="form-inline pull-right">-->
      <% if is_signed_in? %>
  <div class="col-md-4 col-md-offset-3 signed-in-nav">
        <%= button_to 'My Profile',static_profile_path, method: :get, class: 'my-profile-btn pull-right' %>
        <%= button_to 'Sign Out', sessions_path, class: 'sign-out-btn pull-right', method: :delete %>
        <%= button_to 'Create Article', new_article_path, method: :get, class: 'create-article-btn pull-right'  %>
      <% else %>
  <div class="col-md-6 col-md-offset-2">
          <%= form_tag sessions_path, class: 'form-inline pull-right' do %>
            <%=link_to "Create Article", new_article_path, class: 'form-inline' %>
            <!--<input type="text" name="username" placeholder="Username" class="form-control" autocomplete="off"/>-->
            <%= email_field_tag(:email, 'Email',class: 'form-control') %>

            <div class="input-group">
             <!-- <input type="password" name="password" placeholder="Password" class="form-control" autocomplete="off"/>-->
              <%= password_field_tag(:password,'Password', class: 'form-control') %> 
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="circle">
                    ?
                  </span>
                </button>
              </span>
            </div>
            <%= submit_tag 'Sign In', class: 'btn btn-primary' %>
                <!--<input type="submit" value="sign in" class="btn btn-primary"/>-->
          <% end %>
    <!--</form>-->
      <% end %>
  </div>
</div> <!-- Account Nav -->
