
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner row homepage_nav">
        <% @carousel_article.each do |carousel| %>
          <div class="item active">
            <% if carousel.photos.exists? %>
              <% carousel.photos.first do |p| %>
                <%= image_tag p.image.url(:thumb), :class=> "img-responsive" %>
              <% end %>
            <% else %>
              <img src="http://placehold.it/400x300" class="img-responsive">
            <% end %>
            <div class="carousel-caption">
              <%= carousel.title %>
            </div>
          </div>
        <% end %>

            <!--div class="item">
              <img src="..." alt="..."-->
              <!--img src="http://placehold.it/400x300" class="img-responsive">
              <div class="carousel-caption">
                ...
              </div>
            </div>
            ...-->
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <!--span class="glyphicon glyphicon-chevron-left"></span-->
        <div class="control">
             <img src="<%= image_url "left_carousel.png" %>" class="img-responsive">
        </div>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <!--span class="glyphicon glyphicon-chevron-right"></span-->
        <div class="control">
            <img src="<%= image_url "right_carousel.png" %>" class="img-responsive">
        </div>
      </a>
    </div>







<div class="container-fluid index-container">


  <%= render "account_nav" %>

  <%= render "category_nav" %>

  <div class="row homepage_nav">
    <div class="col-xs-2 control">
      <img src="<%= image_url "left_carousel.png" %>" class="img-responsive">
    </div>

    <div class="col-xs-8">
      <img src="<%= image_url "chair_carousel.png" %>" class="img-responsive">
    </div>

    <div class="col-xs-2 control">
      <img src="<%= image_url "right_carousel.png" %>" class="img-responsive">
    </div>    
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Latest Articles</h1>

      <hr>
      
      <% 5.times do %>
        <div class="row homepage_article text-left">
          <div class="col-md-3">
            <img src="http://placehold.it/400x300" class="img-responsive">
          </div>
          <div class="col-md-9">
            <h2 class="title">Nasa announces plans to launch chimpanzee into sun</h2>
            <p class="byline">by Beverly T Miller // 8.1.2014</p>
            <p class="summary">Pickled bicycle rights viral Neutra Echo Park. Bespoke sriracha Brooklyn jean shorts VHS artisan, next level Wes Anderson Williamsburg flexitarian gentrify. Master cleanse Godard lo-fi, +1 butcher hashtag meh Intelligentsia lomo slow-carb brunch.</p>
          </div>
        </div>

        <hr>
      <% end %>

      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>



  <%= render "ourfooter" %>
</div>
